header {
    background: #e74c3c;
    padding: 20px;
    padding: 2rem;
}

.site-title {
    text-align: center;
    font-size: 64px;
    font-size: 6.4rem;
    margin: 40px 0;
    color: white;
}

.site-title a {
    color: white;
}

.site-title a:hover {
    color: white;
}
